@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');



body {
    font-family: Michroma, serif;
    background: linear-gradient(160deg, #474747 3%, #474747 5%, #ffffff 100%);
}

p {
    color: black;
}

.nav-link {
    color: silver;
}

.navbar-nav .nav-link.active {
    color: rgb(237, 112, 112);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: silver;
}

.sidebar,
.btn-outline-primary {
    color: black;
    background: linear-gradient(320deg, #474747 3%, #474747 5%, #ffffff 100%);
}

.card {
    background: linear-gradient(320deg, #474747 3%, #474747 5%, #ffffff 100%);
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text,
.footer-text {
    color: black;
    margin: auto auto;
}

footer {
    background: linear-gradient(320deg, #474747 3%, #474747 5%, #ffffff 100%);
}

@media (max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;

}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}